<div id='user' style="display: none"><%= current_user.id %></div>

  <button class='radius' id="ones"><strong id='selected_number'>3</strong>s tables</button>
  <button class='radius' id="input"><strong>P</strong>lay Random</button>
  <br>
  <button class='radius tiny' id="choose_number">Select Number</button>





<p>number played this round:</p>
<p id="counter">0</p>

<p>number won this round:</p>
<p id="round_won">0</p>

<p>number lost this round:</p>
<p id="round_lost">0</p>
