<div id='stats1'>
  <div id='stats2'>
    <div id='stats3'>
      <div id='stats4'>
        <div id='inner_stats'>
          <div id='title'>
            <h1>Stats!</h1>
          </div>
          <p class='stat'>Total questions answered: <%= @stats.total_questions %></p>
          <p class='stat'>Total correct: <%= @stats.correct %></p>
          <p class='stat'>Total incorrect: <%= @stats.incorrect %></p>
        </div>
      </div>
    </div>
  </div>
</div>
