<input type="button" id='counter' value='hi'>

<h1 id='countdown'>hi</h1>

<div id='number_one'></div>
<div id='number_two'></div>
<form>
<input type="text" name="answer">
<input type="submit" value="Submit">
</form>
