<div class='admin_list outer_div'>
  <p class='admin_title'>The Admin Team!</p>
  <ul>
    <% @users.each do |user| %>
      <%= user.name %>
    <% end %>
  </ul>
    <%= button_to "Make someone an admin", new_admin_path, method: :get, class: 'button radius' %>
</div>
