<%= button_to "Back to Mystats!", statistic_path(current_user.id), method: :get, class: 'button radius', id: 'to_the_games' %>
<div id='stats1'>
  <div id='stats3'>
    <div id='stats4'>
      <div id='inner_stats'>
        <div id='title'>
          <p>Leaderboard</p>
        </div>
        <% @levels.each do |level_info| %>
        <div id='title'>
          <p><%= level_info[0] %></p>
        </div>


          <% level_info.shift %>
          <ol>
            <% level_info.each do |score| %>
              <% user = User.find(score.user_id) %>
              <li class='stat littler'>
                <%= user.name %>: <span class='float_mid'><%= "#{score.score} " %></span>
              </li>
            <% end %>
          </ol>
        <% end %>
    </div>
  </div>
</div>
