<div class='benchsparks'>
<div id='user_id' style="display: none"><%= current_user.id %></div>
<div id='user_level' style="display: none"><%= current_user.benchspark %></div>

  <h1><strong id='level'><%= @number %></strong>'s Challenge!</h1>

  <div id='user' style="display: none"><%= current_user.id %></div>
  <button id='counter'>Start the timer!</button>

  <h1 id='countdown'>Ready?</h1>

  <div id='number_one'></div>
  <div id='number_two'></div>
  <div id='answer_form'>
    <form id='answer_zone' style="display: none" action=''>
      <div><p><strong id='first_num'></strong> * <strong id='second_num'></strong></p></div>
      <input id='answer_area' type="number" min='1' max='155' name="answer" autocomplete="off" autofocus>
      <input style="visibility: hidden" type="submit" value="Submit" class='sub_button'>
    </form>
    <div id='info' style="display: none">
      <p>Points: <strong id='points'>0</strong></p>
    </div>
    <div id='stats' style="display: none">
      <p>Correct: <strong id='total_right'>0</strong></p>
      <p>Incorrect: <strong id='total_wrong'>0</strong></p>
    </div>
  </div>

</div>
