<div id='homes_back'>
  <div id='title_screen' class='outer_div'>
    <p id='homes_title'>Benchsparks!</p>
    <div>
      <%= image_tag("Benchspark.png") %>
    </div>
    <p class='mid'>Expand your multiplication mind</p>
  </div>
</div>
