.medium_font {
  font-size: 30px;
}

.benchsparks_title {
  font-size: 50px;
  text-shadow: 2px 2px #33AD5C;
  margin-left: 40px;
}

.benchsparks_subtitle {
  font-size: 40px;
  margin-left: 20px;
}

.benches {
  display: inline-block;
}

#benchsparks_title {
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}

#benchsparks_title_wrap {
  display: inline-block;
}
