$primary-color: #150fb3;
$primary-color-light: #3849B5;
$primary-color-dark: #0A176A;
$secondary-color: #510EAB;
$secondary-color-light: #8253C1;
$third-color: #04839B;
$white: #FFFFFF;
$black: #000000;
$gray-light: #E6E6E6;
$primary-color-light:#E6E6FF;



#to_the_games:hover {
  box-shadow: 0 0 10px 2px black;
}

.end_of_title {
  margin-top: 10px;
  background: $primary-color;
  text-align: center;
  border-radius: 15px;
}

.end_of_title p {
  font-size: 50px !important;
  color: white;
}

.a_little_bigger {
  font-size: 25px !important;
}

#to_the_games {
  position: fixed;
  margin-left: 75%;
  box-shadow: 0 0 15px 4px gray;
  border-radius: 10px;
}

.parallax {
  box-shadow: inset 0 0 15px 10px $primary-color-dark;
}

.title_screen {
  color: $primary-color-light;
  text-align: center;
  margin: auto;
  display: block;
  padding-bottom: 20px;
  width: 60%;
  border-radius: 55px;
  background: $primary-color;
}

#homes_title {
  font-size: 60px;
}

.mid {
  font-size: 20px;
}

.container {
  padding-top: 20px;
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: $secondary-color;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px $primary-color-light;
}
section.module.parallax-1 {
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT3pD25k8GcCDuRUbLlYpRPrJ6jO07nQNIo_tbeXjPvBRzsbqHj");
}
section.module.parallax-2 {
  background-image: url("Benchspark.png");
}
section.module.parallax-3 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1GlFpW8-HBEfYYb3rU1ENwEPz-TGMjOF73JNItNHFCc5wYWQ");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer-fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
