$primary-color: #150fb3;
$primary-color-light: #3849B5;
$primary-color-dark: #0A176A;
$secondary-color: #510EAB;
$secondary-color-light: #8253C1;
$third-color: #04839B;
$white: #FFFFFF;
$black: #000000;
$gray-light: #E6E6E6;
$primary-color-light:#E6E6FF;

#whole_problem {
  border: solid $secondary-color 6px;
  background-color: $primary-color-light;
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  width: 45%;
  text-align: center;
  border-radius: 5px;
}

.text_shadow {
  text-shadow: 7px 7px 24px $third-color;
}

#practice_answer_area {
  width: 30%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  background: $primary-color-light;
  box-shadow: inset 0 0 10px #000000;
}

#color_answer {
  border-radius: 15px;
}

#practice_stat_wrapper {
  border: solid $primary-color 7px;
  width: 50%;
  margin: auto;
  text-align:center;
  border-radius: 5px;
  margin-top: 40px;
  background: linear-gradient(#E6E6E6, $primary-color-light);
}

.panel {
  background: $primary-color-light;
}

#cool_text {
  color: $primary-color;
  font-size: 30px;
  text-align: center;
}

.practice_stat {
  text-align: center;
  display:inline-block;
  width: 28%;
}

#chosen_number_form {
  background: $primary-color-light;
  box-shadow: inset 0 0 10px #000000;
}

.practice_select {
  text-align: center;
}

.select_practice_number {
  width: 15%;
  margin: auto;
}

.practice_text_field {
  text-align: center;
}
