$primary-color: #150fb3;
$primary-color-light: #3849B5;
$primary-color-dark: #0A176A;
$secondary-color: #510EAB;
$secondary-color-light: #8253C1;
$third-color: #04839B;
$white: #FFFFFF;
$black: #000000;
$gray-light: #E6E6E6;
$primary-color-light:#E6E6FF;

.inline {
  display: inline-block;
}

.large {
  font-size: 400%;
}

#bottom, #left, #right {
	background: $secondary-color;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#bottom { bottom: 0; }

#bottom2, #left2, #right2 {
	background: $primary-color;
	position: fixed;
	}
	#left2, #right2 {
		top: 0; bottom: 0;
		width: 12px;
		}
		#left2 { left: 0; }
		#right2 { right: 0; }

  #bottom2 {
		left: 0; right: 0;
		height: 12px;
		}
		#bottom2 { bottom: 0; }

.inner_body {
  padding: 40px;
}
