$primary-color: #150fb3;
$primary-color-light: #3849B5;
$primary-color-dark: #0A176A;
$secondary-color: #510EAB;
$secondary-color-light: #8253C1;
$third-color: #04839B;
$white: #FFFFFF;
$black: #000000;
$gray-light: #E6E6E6;
$primary-color-light:#E6E6FF;

#stats1 {
  box-shadow: 0 0 15px gray;
  border: 5px solid $primary-color;
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 15px;
}
#stats2 {
  border: 5px solid $primary-color;
  border-radius: 10px;
}
#stats3 {
  border: 5px solid $primary-color-light;
  border-radius: 5px;
}

#stats4 {
  border: 5px solid $third-color;
  border-radius: 0px;
}

#inner_stats {
  padding: 0px 20px;
}

#stats4 {
  background: $primary-color-light;
}

#title {
  text-align: center;
}

#title p {
  color: $primary-color;
  font-size: 30px;
}

.stat {
  color: $primary-color;
}

.float_mid {
  float: right;
}

.littler {
  width:65%;
  margin:auto;
}
