$primary-color: #150fb3;
$primary-color-light: #3849B5;
$primary-color-dark: #0A176A;
$secondary-color: #510EAB;
$secondary-color-light: #8253C1;
$third-color: #04839B;
$white: #FFFFFF;
$black: #000000;
$gray-light: #E6E6E6;
$primary-color-light:#E6E6FF;

#answer_form {
  border:0px solid black;
  background-color: $secondary-color-light;
}

#timed_problems p {
  font-size: 50px;
}

#countdown_wrapper {
  border: 3px solid $secondary-color-light;
  border-radius: 50px;
  display: inline-block;
  padding: 15px;
}

#stats {
  background-color: $secondary-color;
  margin-left: 40px;
  margin-right: 40px;
  border: 5px solid $secondary-color;
}

#answer_area {
  background-color:$third-color;
  width: 30%;
  margin: auto;
}

.time_game {
  display: block;
  width: 60%;
  margin: auto;
  text-align: center;
}

#couter {
  float: center;
}

#countdown_wrapper {
  float: right;
}

#range {
  display:none;
}
