#answer_form {
  border: 5px solid #EFA439;
  background-color: #635EE2;
}

#timed_problems p {
  font-size: 50px;
}

#countdown_wrapper {
  border: 3px solid #EFA439;
  border-radius: 50px;
  display: inline-block;
  padding: 15px;
}

#stats {
  background-color: #D7C70F;
  margin-left: 40px;
  margin-right: 40px;
  border: 5px solid #867B00;
}

#answer_area {
  background-color : #d1d1d1;
  width: 30%;
}
