$primary-color: #150fb3;
$primary-color-light: #3849B5;
$primary-color-dark: #0A176A;
$secondary-color: #510EAB;
$secondary-color-light: #8253C1;
$third-color: #04839B;
$white: #FFFFFF;
$black: #000000;
$gray-light: #E6E6E6;
$primary-shadow:#E6E6FF;

#users {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: linear-gradient(#FFFFCC, #E6E6E6);
}

#users_table {
  margin: 0 auto;
  display: inline-block;
}
